* {
    box-sizing: border-box;
}

body {
    background: url('bc.png');
    margin:0;
    padding: 0;
    font-size: 18px;
    line-height: 34px;
    color: rgba(12, 12, 12, 0.945);

}

.navbar {
    background-color:#ffffff;
    display: flex;
    font-family: 'Courier New', Courier, monospace;

}
/*nav-bar*/
.navbar a {
    color: #4aaaa5;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 28px;
}


.navbar a:hover {
    background: #4aaaa5;
    color: #ffffff;
}
#toggle {
    display: none;
}

.togglearea {
    background: #4aaaa5;
    border-bottom: black;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.togglearea label {
    background: #ffffff;
    height: 45px;
    width: 50px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.togglearea label span {
    background: #4aaaa5;
    height: 4px;
    width: 70%;
    margin: 3px 0px;
}
.togglearea {
    display: none;
}
/*content area */


.content  {
    margin:20px;
    padding:20px;
}

.container {
    background: #ffffff;
    margin: 20px auto;
    width:85%;
    max-width: 800px;
    clear: both;
    border: 1px solid black;

}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #4aaaa5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.auth-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

/*footer*/

.footer { position: relative;
    background: rgba(102, 102, 102, 0.692);
    color:#fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
    text-align: center;

}



@media screen and (max-width:600px)
{ 

        .navbar {
            flex-direction: column;
            display: none;

        }
        #toggle:checked + .navbar {
            display: flex;
        }
        .togglearea {
            display: flex;
        }
        

}

